:root {
  --color: #2196f3;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a,
button {
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-hero {
  width: 696px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}
.web,
.nav:focus,
.nav:hover,
.link-contact-head:focus,
.link-contact-head:hover,
.link-contact:focus,
.link-contact:hover,
.white:focus,
.white:hover {
  color: var(--color);
}
.link-contact-head,
.link-contact,
.white {
  font-style: normal;
}
.nav.accent {
  position: relative;
  display: flex;
  justify-content: center;
  color: var(--color);
}
.nav-hover {
  position: relative;
  display: flex;
  justify-content: center;
  color: var(--color);
}
.nav-hover:hover.nav-hover::after {
  transform: scale(1);
}
.nav-hover::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--color);
  border-radius: 2px;
  transform: scale(0);
  transition: transform var(--time) var(--timing);
}
.accent::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--color);
  border-radius: 2px;
}
.link-contact-head {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.img-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.benefits-svg {
  width: 70px;
  height: 70px;
}
.benefits-h {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #212121;
}
.benefits-p {
  line-height: 1.71;
  color: #757575;
}
.nav {
  display: block;
  padding: 32px 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000;
  transition: color var(--time) var(--timing);
}
.navbar .item:not(:last-child) {
  margin-right: 46px;
}
.link-contact,
.link-contact-head {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color var(--time) var(--timing);
}
.link-contact {
  color: rgba(255, 255, 255, 0.6);
}
.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  border-bottom: 1px Solid #ececec;
}
.header-content {
  display: flex;
  flex-wrap: wrap;
}
.head {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  color: black;
}
.navbar {
  display: flex;
}
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-left: auto;
  gap: 50px;
}
.icon-header {
  margin-right: 10px;
  fill: currentColor;
}
.mail {
  width: 16px;
  height: 12px;
}
.tel {
  width: 10px;
  height: 16px;
}

.logo {
  margin-right: 45px;
  flex-grow: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.hero {
  background-color: #c4c4c4;
}
.hero-h {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero {
  display: block;
  min-width: 216px;
  min-height: 50px;
  padding: 10px 32px;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  background-color: var(--color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--time) var(--timing);
}
.button-hero:hover,
.button-hero:focus {
  background-color: #188ce8;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
. .services {
  margin-top: 50px;
}
.team {
  text-align: center;
  background: #f5f4fa;
}
.benefits-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.benefits-il {
  width: 270px;
}
.products {
  padding-top: 0;
  padding-bottom: 94px;
}
.item-products {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.index {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.products-h,
.constantly-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.constantly-h {
  margin-bottom: 50px;
}
.products-ul,
.team-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products-h,
.team-h {
  margin-top: 0;
  margin-bottom: 50px;
}
.team-h {
  font-size: 36px;
  line-height: 1.6667;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-li-h {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-ul {
  flex-wrap: wrap;
}
.team-container {
  margin: 32px 30px;
}
.team-li {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.msg {
  display: flex;
  gap: 10px;
}
.link-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: #afb1b8;
  border-radius: 25px;
  transition: color var(--time) var(--timing),
    background-color var(--time) var(--timing);
}
.msg-icon {
  fill: currentColor;
}
.link-msg:hover,
.link-msg-foot:hover,
.link-msg:focus,
.link-msg-foot:focus {
  background-color: var(--color);
  color: #ffffff;
}
.msg-icon {
  width: 20px;
  height: 20px;
}
.portfolio {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.specialization {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
.constantly-list {
  display: flex;
  gap: 30px;
}
.constantly-svg {
  fill: currentColor;
}
.constantly-link:hover,
.constantly-link:focus {
  color: var(--color);
  border: 1px solid var(--color);
}

.constantly-link {
  display: flex;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--time) var(--timing);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
  background-color: #2f303a;
}
.white {
  color: #ffffff;
  transition: color var(--time) var(--timing);
}
.logo-foot {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
}

.menu {
  display: flex;
  justify-content: center;
}
.menu-button {
  padding: 6px 22px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  color: #212121;
  border: none;
  border-radius: 4px;
  transition: color var(--time) var(--timing),
    background-color var(--time) var(--timing),
    box-shadow var(--time) var(--timing);
}
.all-btn {
  padding: 6px 25px;
}
.menu-button:hover,
.menu-button:focus {
  color: #ffffff;
  background-color: var(--color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.services {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 34px;
}

.box {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.box {
  padding: 20px 24px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.case {
  text-align: start;
  font-size: 16px;
  line-height: 1.9;
}
.box-hover p {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.hover-before {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.box-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform var(--time) ease;
}
.case {
  transition: box-shadow var(--time) var(--timing);
}
.portfolio-link:hover .case,
.portfolio-link:focus .case {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:hover .box-hover,
.portfolio-link:focus .box-hover {
  transform: translateY(0);
}
.foot-contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
}
.link-msg-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: #ffffff;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color var(--time) var(--timing),
    background-color var(--time) var(--timing);
}
.foot {
  display: flex;
  align-items: baseline;
}
footer h2 {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.foot-wrap {
  margin-left: 70px;
  margin-right: 93px;
}
.subscribe > label {
  font-weight: 700;
}
.subscribe-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.subscribe-box input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border var(--time) var(--timing);
}
.subscribe-box input::placeholder {
  font-size: 16px;
  line-height: 1.25;
}
.icon-airplane {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  background: rgba(0, 0, 0, 0.2);
  transition: transform var(--time) var(--timing),
    opacity var(--time) var(--timing);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  position: relative;
  left: 50%;
  top: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1) rotateZ(360deg);
  transition: transform var(--time) var(--timing);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
}
.icon-close {
  width: 18px;
  height: 18px;
  transition: fill var(--time) var(--timing);
}
.button-form {
  min-width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-modal {
  color: #757575;
}
.form-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
}
.terms-submit {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.form-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input-modal {
  padding-left: 42px;
  transition: border var(--time) var(--timing);
}
.input-modal:focus,
.form-list textarea:focus,
.subscribe-box input:focus {
  border: 1px solid var(--color);
  outline: none;
}
.input-modal:focus + .inpute-icon,
.icon-close:hover,
.icon-close:focus {
  fill: var(--color);
}
.terms-deal {
  color: var(--color);
}
.terms-submit input {
  margin-right: 8px;
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-list label {
  margin-bottom: 4px;
}
.form-list input {
  height: 40px;
}
.form-list textarea {
  padding: 12px 16px;
  resize: none;
  transition: border var(--time) var(--timing);
}

input,
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
textarea {
  height: 120px;
}
.inpute-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  width: 18px;
  height: 18px;

  fill: #212121;
  transition: fill var(--time) var(--timing);
}
.checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
label {
  display: inline-block;
}
.terms-submit > label {
  display: flex;
  align-items: center;
}
.svg-check {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: solid 2px #212121;
  border-radius: 4px;
  transition: border var(--time) var(--timing),
    background-color var(--time) var(--timing);
}
.checkbox:checked ~ .svg-check {
  border: solid 2px var(--color);
  background-color: var(--color);
  background-origin: border-box;
}
.modal h2 {
  text-align: center;
}
.terms-submit {
  text-align: center;
}
